$text-color: #413d4b;
$text-font: 'Roboto', sans-serif;
$text-light: 300;
$text-medium: 500;
$text-bold: 700;
$white-text-color: #fff;
$cyan-text-color: #00e0d0;
$dark-cyan-text-color: #00c5b7;
$form-border-color: #e5e5e5;
$text-size: 14px;
